@{
    ViewData["Title"] = "Home Page2";
}



@section Scripts
{

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTkFt7cmxsdUNWI2iztBrYIhoWCyjSCw4&callback=initialize" async="" defer="defer" type="text/javascript"></script>
    <script type="text/javascript">

        var user; //= [41.007181, 28.915165];
        var distributingCenter;// = [41.009337, 28.918427];
        var latAvg;
        var longAvg;

        //var courier;// = [41.019337, 28.917427];
        var zoomFunc;

        var map;
        var markers = [];

        //Functions

        //Kurye ve kullanıcının tam ortası
        function getCenterPosition(latOrt, longOrt) {

            var maxdifference = (latOrt > longOrt) ? latOrt : longOrt;
            var zoomvalue;
            if (maxdifference >= 0 && maxdifference <= 0.0037)
                zoomvalue = '17';
            else if (maxdifference > 0.0037 && maxdifference <= 0.0070)
                zoomvalue = '16';
            else if (maxdifference > 0.0070 && maxdifference <= 0.0130)
                zoomvalue = '15';
            else if (maxdifference > 0.0130 && maxdifference <= 0.0290)
                zoomvalue = '14';
            else if (maxdifference > 0.0290 && maxdifference <= 0.0550)
                zoomvalue = '13';
            else if (maxdifference > 0.0550 && maxdifference <= 0.1200)
                zoomvalue = '12';
            else if (maxdifference > 0.1200 && maxdifference <= 0.4640)
                zoomvalue = '10';
            else if (maxdifference > 0.4640 && maxdifference <= 1.8580)
                zoomvalue = '8';
            else if (maxdifference > 1.8580 && maxdifference <= 3.5310)
                zoomvalue = '7';
            else if (maxdifference > 3.5310 && maxdifference <= 7.3367)
                zoomvalue = '6';
            else if (maxdifference > 7.3367 && maxdifference <= 14.222)
                zoomvalue = '5';
            else if (maxdifference > 14.222 && maxdifference <= 28.000)
                zoomvalue = '4';
            else if (maxdifference > 28.000 && maxdifference <= 58.000)
                zoomvalue = '3';
            else
                zoomvalue = '1';
            return zoomvalue;
        }


        //Haritanın yüklenişi
        function initialize() {

            
            map = new google.maps.Map(document.getElementById('map'), {
                center: new google.maps.LatLng(41,35),//kurye ve kullanıcı ortası
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                zoom: 6
            });

        }

        //Markerların özellikleri ve haritaya eklenişi
        function setMarkers(courierlati, courierlongi, userlati, userlongi, centerlati, centerlongi) {
            const iconBase =
                "https://localhost:5001/png/";
            const icons = {
                courierPng: {
                    icon: iconBase + "courier.png",
                },
                userPng: {
                    icon: iconBase + "home.png",
                },
                distributingCenterPng: {
                    icon: iconBase + "pharmacy.png",
                },
            };

            const features = [
                {
                    position: new google.maps.LatLng(courierlati, courierlongi),
                    type: "courierPng",
                },
                {
                    position: new google.maps.LatLng(userlati, userlongi),
                    type: "userPng",
                },
                {
                    position: new google.maps.LatLng(centerlati, centerlongi),
                    type: "distributingCenterPng",
                },
            ];

            for (i = 0; i < features.length; i++) {
                const marker = new google.maps.Marker({
                    position: features[i].position,
                    icon: icons[features[i].type].icon
                });
                markers.push(marker);
            }

            setMapOnAll(map);
        }

        //Haritaya ekleme işlemi
        function setMapOnAll(map) {
            for (let i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }

        //Markerları temizlemek
        function clearMarkers() {
            for (var i = 0; i < markers.length; i++) {
                setMapOnAll(null);
            }
        }

        //Markerları silmek
        function deleteMarkers() {
            clearMarkers();
            markers = [];
        }





        var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:44386/PharmacyHub").build();//API url'im + /MyHub


        connection.start()
            .then(() => {
                connection.invoke("addGroup", "sedat")//gruba ekleme işlemi burdan gerçekleşir
                connection.invoke("GetLocation", "sedat")//pharmacyhub

            })
            .catch((err) => {
                console.log(err);
            });

        connection.on("apiClient", (courierlati, courierlongi) => {// _service ile apiden çağırılan metotdur


            latAvg = Math.abs((user[0] - courierlati));
            longAvg = Math.abs((user[1] - courierlongi));
            zoomLevel = getCenterPosition(latAvg, longAvg);
            map.setZoom(parseInt(zoomLevel));
            map.setCenter(new google.maps.LatLng((user[0] + courierlati) / 2, (user[1] + courierlongi) / 2));

            deleteMarkers();
            setMarkers(courierlati, courierlongi, user[0], user[1], distributingCenter[0], distributingCenter[1]);
           
        });

        connection.on("serverClient", (courierlati, courierlongi, userlati, userlongi, centerlati, centerlongi) => {//hubdan direkt olarak istemci istek yaptığında çlışır

            latAvg = Math.abs((userlati - courierlati));
            longAvg = Math.abs((userlongi - courierlongi));
            zoomLevel = getCenterPosition(latAvg, longAvg);

            user = [userlati, userlongi];
            distributingCenter = [centerlati, centerlongi];

            map.setZoom(parseInt(zoomLevel));
            map.setCenter(new google.maps.LatLng((userlati + courierlati) / 2, (userlongi + courierlongi) / 2));
            setMarkers(courierlati, courierlongi, userlati, userlongi, centerlati, centerlongi);
            
        });

    </script>
}


<div id="map" style="width: 1000px; height: 600px; position:center;"></div>






