@{
    ViewData["Title"] = "Home Page2";
}



@section Scripts
{

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTkFt7cmxsdUNWI2iztBrYIhoWCyjSCw4&callback=initialize" async="" defer="defer" type="text/javascript"></script>
    <script type="text/javascript">

        var user;
        var distributingCenter;
        var latAvg;
        var longAvg;

        //var courier;
        var zoomFunc;

        var map;
        var markers = [];

        //Functions

        //Kurye ve kullanıcının tam ortası
        function getCenterPosition(latOrt, longOrt) {

            var maxdifference = (latOrt > longOrt) ? latOrt : longOrt;
            var zoomvalue;
            if (maxdifference >= 0 && maxdifference <= 0.00025)
                zoomvalue = '20';
            else if (maxdifference > 0.00025 && maxdifference <= 0.0005)
                zoomvalue = '19';
            else if (maxdifference > 0.0005 && maxdifference <= 0.001)
                zoomvalue = '18';
            else if (maxdifference > 0.001 && maxdifference <= 0.003)
                zoomvalue = '17';
            else if (maxdifference > 0.003 && maxdifference <= 0.005)
                zoomvalue = '16';
            else if (maxdifference > 0.005 && maxdifference <= 0.011)
                zoomvalue = '15';
            else if (maxdifference > 0.011 && maxdifference <= 0.022)
                zoomvalue = '14';
            else if (maxdifference > 0.022 && maxdifference <= 0.044)
                zoomvalue = '13';
            else if (maxdifference > 0.044 && maxdifference <= 0.088)
                zoomvalue = '12';
            else if (maxdifference > 0.088 && maxdifference <= 0.176)
                zoomvalue = '11';
            else if (maxdifference > 0.176 && maxdifference <= 0.352)
                zoomvalue = '10';
            else if (maxdifference > 0.352 && maxdifference <= 0.703)
                zoomvalue = '9';
            else if (maxdifference > 0.703 && maxdifference <= 1.406)
                zoomvalue = '8';
            else if (maxdifference > 1.406 && maxdifference <= 2.813)
                zoomvalue = '7';
            else if (maxdifference > 2.813 && maxdifference <= 5.625)
                zoomvalue = '6';
            else if (maxdifference > 5.625 && maxdifference <= 11.25)
                zoomvalue = '5';
            else if (maxdifference > 11.25 && maxdifference <= 22.5)
                zoomvalue = '4';
            else if (maxdifference > 22.5 && maxdifference <= 45)
                zoomvalue = '3';
            else if (maxdifference > 45 && maxdifference <= 90)
                zoomvalue = '2';
            else if (maxdifference > 90 && maxdifference <= 180)
                zoomvalue = '1';
            else
                zoomvalue = '0';
            return zoomvalue;
        }


        //Haritanın yüklenişi
        function initialize() {

            
            map = new google.maps.Map(document.getElementById('map'), {
                center: new google.maps.LatLng(41,35),//Başlangıç Türkiye Haritası
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                zoom: 6
            });

        }

        //Markerların özellikleri ve haritaya eklenişi
        function setMarkers(courierlati, courierlongi, userlati, userlongi, centerlati, centerlongi) {
            const iconBase = GetBaseUrlImg();
            const icons = {
                courierPng: {
                    icon: iconBase + "courier.png",
                },
                userPng: {
                    icon: iconBase + "home.png",
                },
                distributingCenterPng: {
                    icon: iconBase + "pharmacy.png",
                },
            };

            const features = [
                {
                    position: new google.maps.LatLng(courierlati, courierlongi),
                    type: "courierPng",
                },
                {
                    position: new google.maps.LatLng(userlati, userlongi),
                    type: "userPng",
                },
                {
                    position: new google.maps.LatLng(centerlati, centerlongi),
                    type: "distributingCenterPng",
                },
            ];

            for (i = 0; i < features.length; i++) {
                const marker = new google.maps.Marker({
                    position: features[i].position,
                    icon: icons[features[i].type].icon
                });
                markers.push(marker);
            }

            setMapOnAll(map);
        }

        //Haritaya ekleme işlemi
        function setMapOnAll(map) {
            for (let i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }

        //Markerları temizlemek
        function clearMarkers() {
            for (var i = 0; i < markers.length; i++) {
                setMapOnAll(null);
            }
        }

        //Markerları silmek
        function deleteMarkers() {
            clearMarkers();
            markers = [];
        }

        function GetBaseUrlImg() {//resim yolu için
            var getUrl = window.location;

            var baseUrl = getUrl.origin + '/png/';
            return baseUrl;//https://siteadresi/png/ şeklinde çıktı
        }



        var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:44386/PharmacyHub").build();//API url'im + /MyHub


        connection.start()
            .then(() => {
                connection.invoke("addGroup", "sedat")//gruba ekleme işlemi burdan gerçekleşir
                connection.invoke("GetLocation", "sedat")//pharmacyhub

            })
            .catch((err) => {
                console.log(err);
            });

        connection.on("apiClient", (courierlati, courierlongi) => {// _service ile apiden çağırılan metotdur


            latAvg = Math.abs((user[0] - courierlati));
            longAvg = Math.abs((user[1] - courierlongi));
            zoomLevel = getCenterPosition(latAvg, longAvg);//dinamik zoom seviyesi
            map.setZoom(parseInt(zoomLevel));//dinamik zoomlama
            map.setCenter(new google.maps.LatLng((user[0] + courierlati) / 2, (user[1] + courierlongi) / 2));//dinamik harita Merkezi

            deleteMarkers();
            setMarkers(courierlati, courierlongi, user[0], user[1], distributingCenter[0], distributingCenter[1]);//markerları haritaya yerleştirme
           
        });

        connection.on("serverClient", (courierlati, courierlongi, userlati, userlongi, centerlati, centerlongi) => {//hubdan direkt olarak istemci istek yaptığında çalışır

            latAvg = Math.abs((userlati - courierlati));
            longAvg = Math.abs((userlongi - courierlongi));
            zoomLevel = getCenterPosition(latAvg, longAvg);//dinamik zoom seviyesi

            user = [userlati, userlongi];
            distributingCenter = [centerlati, centerlongi];

            map.setZoom(parseInt(zoomLevel));//dinamik zoomlama
            map.setCenter(new google.maps.LatLng((userlati + courierlati) / 2, (userlongi + courierlongi) / 2));//dinamik harita Merkezi
            setMarkers(courierlati, courierlongi, userlati, userlongi, centerlati, centerlongi); // markerları haritaya yerleştirme
            
        });

    </script>
}


<div id="map" style="width: 1000px; height: 600px; position:center;"></div>






